@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

a.active  {
    @apply text-red-600;
}

a hr {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

a.active hr {
    transform: scaleX(1);
}

* {
    font-family: Roboto;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  a.active {
    @apply bg-red-400;
    color: white;
  }
}
